<h1>FLASK Home</h1>

  <p>Welcome to <em>FLASK appplication</em>, a very basic Django website developed with CRUD functionallity.</p>

<h2>Dynamic content</h2>

  <p>Example data:</p>
  <div style="width:100%">
      <div style="float:left;width:50%">
        <ul>
            <li><strong>Sepal length in cm:</strong> {{ sepal_length }}</li>
            <li><strong>sepal width in cm:</strong> {{ sepal_width }}</li>
            <li><strong>Petal length in cm:</strong> {{ petal_length }}</li>
            <li><strong>Petal width in cm:</strong> {{ petal_width }}</li>
            <li><strong>Class:</strong> {{ class }}</li>
        </ul>
      </div>
  </div>

